* {
  margin: 0;
  padding: 0;
  list-style: none;
}
header {
  width: 100vw;
  background: #fffbf3;
}
header h2 {
  color: #3c3c3c;
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
}
header span {
  color: #fcc647;
}
header a {
  color: #fcc647;
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 20px;
}
.text_not_home {
  color: #3c3c3c;
  text-decoration: none;
}
.sect_title {
  background: #fffbf3;
  font-family: Inter;
}
.btn_delivery {
  padding: 8px 16px;
  border-radius: 5px;
  background: #fff2d4;
  color: #f4b41b;
  border-style: none;
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  line-height: 14.25px;
  font-size: 16.625px;
}
h1 {
  color: #3c3c3c;
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 48px;
}
.sect_title span {
  color: #ffc12f;
}
.text_title_lorem {
  color: #667085;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
}
.text_title_getStarted {
  text-align: center;
  color: #fff;
  font-weight: 500;
  background: #ffc12f;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 19px;
}
.img_video {
  padding: 7px;
  background: #fff;
  border-radius: 100%;
}
.text_title_more {
  color: #3c3c3c;
  font-weight: 500;
  text-decoration: none;
  font-size: 17px;
  line-height: 32px;
}
.sect_process {
  font-family: Inter;
  color: #667085;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
}
.sect_process h2,
.sect_menu h2 {
  color: #3c3c3c;
  font-family: Segoe UI;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.text_simple {
  text-align: center;
}
.circle {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order {
  background: #335dff;
}
.delivery {
  background: #f6ca00;
}
.payment {
  background: #0bd28e;
}
.text_process_title {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.sect_menu {
  color: #667085;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}
.menu_item {
  width: 273px;
  height: 319px;
  border-radius: 10.483px;
  border: 0.699px solid rgba(112, 112, 112, 0.2);
  margin: 22.5px 12.5px;
}
.text_meal_name {
  color: #3c3c3c;
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.363px;
}
.text_meal_desk {
  color: #667085;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.text_meal_price {
  color: #3c3c3c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.965px;
}
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 15%;
}
