* {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;
}
header {
  width: 100vw;
  background: #fffbf3;
}
header h2 {
  color: #3c3c3c;
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  margin-left: 118px;
  padding-top: 25px;
}
header ul {
  display: flex;
  margin: -34px 116px 0 545px;
  justify-content: space-around;
}
header span {
  color: #fcc647;
}
header a {
  color: #fcc647;
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 20px;
}
.text_not_home {
  color: #3c3c3c;
  text-decoration: none;
}
.sect_title {
  background: #fffbf3;
  font-family: Inter;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.sect_title img {
  order: 2;
}
.div_sect_title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: baseline;
}
.btn_delivery {
  padding: 8px 16px;
  border-radius: 5px;
  background: #fff2d4;
  color: #f4b41b;
  border-style: none;
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  line-height: 14.25px;
  font-size: 16.625px;
  margin-left: 120px;
  margin-top: 30px;
  display: inline-flex;
  align-self: flex-start;
}
h1 {
  color: #3c3c3c;
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 48px;
  margin-left: 120px;
  margin-top: 13px;
  width: 573px;
}
.sect_title span {
  color: #ffc12f;
}
.text_title_lorem {
  color: #667085;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  margin-left: 120px;
  width: 507px;
  margin-top: 15px;
}
.art_title_start {
  display: flex;
  align-items: center;
}
.text_title_getStarted {
  text-align: center;
  color: #fff;
  font-weight: 500;
  background: #ffc12f;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 19px;
  margin-right: 26px;
}
.img_video {
  padding: 7px;
  background: #fff;
  border-radius: 100%;
}
.text_title_more {
  color: #3c3c3c;
  font-weight: 500;
  text-decoration: none;
  font-size: 17px;
  line-height: 32px;
  order: 2;
}
.div_title_start {
  display: flex;
  align-items: center;
  margin: 27px 0 0 120px;
}
.sect_process {
  font-family: Inter;
  color: #667085;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  padding-top: 60px;
}
.sect_process h2,
.sect_menu h2 {
  color: #3c3c3c;
  font-family: Segoe UI;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.sect_process p {
  color: #667085;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.text_simple {
  text-align: center;
}
.text_works_desc {
  margin: 30px auto 0 auto;
  width: 505px;
}
.text_desc_stage {
  width: 324px;
}
.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order {
  background: #335dff;
  width: 88px;
  height: 88px;
}
.delivery {
  background: #f6ca00;
  width: 88px;
  height: 88px;
}
.payment {
  background: #0bd28e;
  width: 88px;
  height: 88px;
}
.text_process_title {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.div_process_stage {
  width: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.div_process_stages {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin: 60px auto 44px auto;
  width: 250px;
}
.div_process_delivery {
  margin-top: 44px;
}
.img_path {
  margin-top: 58px;
}
.sect_menu {
  color: #667085;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}
.sect_menu h2 {
  margin-top: 88px;
  margin-bottom: 16px;
}
.text_menu_desk {
  width: 465px;
  margin: 0 auto;
}
.menu_item {
  width: 273px;
  border-radius: 10.483px;
  border: 0.699px solid rgba(112, 112, 112, 0.2);
  margin: 22.5px 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.menu_meal_img {
  align-self: center;
  padding-top: 17px;
}
.menu_stars_img {
  margin-top: 11px;
  margin-left: 16px;
}
.text_meal_name {
  color: #3c3c3c;
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.363px;
  margin-left: 18px;
  margin-top: 6px;
}
.text_meal_desc {
  color: #667085;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 18px;
}
.text_meal_price {
  color: #3c3c3c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.965px;
}
.art_meal_price_buttons {
  align-self: stretch;
  display: flex;
  justify-content: left;
  margin: 16px 22px 17px 20px;
}
.meal_icon_cart {
  margin-left: auto;
}
.meal_icon_share {
  margin-left: 9px;
}
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 81px 11%;
}
.sect_desc {
  background: #fffbf3;
  max-height: 712px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.sect_desc img {
  align-self: center;
}
.text_desc_target {
  color: #ef9737;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  border-radius: 6px;
  background: #ffefc8;
  min-width: 93px;
  width: 93px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sect_desc h3 {
  color: #535353;
  font-family: Segoe UI;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 13px;
  width: 565px;
}
.text_desc {
  color: #667085;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  width: 537px;
}
.text_desc_order {
  color: var(--Light-Text, #fff);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  border-radius: 6px;
  min-width: 121px;
  width: 121px;
  height: 44px;
  background: #fcc647;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.div_desc {
  margin: 148px 135px 107px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sect_app h3 {
  color: #3c3c3c;
  font-family: Segoe UI;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  width: 418px;
}
.sect_app p {
  color: #667085;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 501px;
  margin-top: 25px;
}
.div_app_no_contact {
  display: flex;
  margin: 116px 133px 170px 137px;
  justify-content: space-between;
}
.div_app {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 128px;
}
.art_app_download {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}
.img_app_google_play {
  margin-right: 23px;
}
.div_contact_info {
  border-radius: 30px;
  background: var(--White, #fff);
  width: 1170px;
  height: 230px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -115px;
  position: relative;
}
.email,
.phone {
  background: #feb918;
  width: 100px;
  height: 100px;
  margin: 0 18px;
}
.text_email {
  color: var(--Black, #232233);
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 37.5px;
  text-transform: lowercase;
  text-decoration: none;
}
.hr_info {
  width: 4px;
  height: 117px;
  background: #e6e6e6;
  border-width: 0;
  border-radius: 5px;
  margin: 0 94px;
}
footer {
  background: var(--Black, #232233);
  padding-top: 243px;
}
.name_footer,
.name_footer span {
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.name_footer span {
  color: #fcc647;
}
.text_footer {
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 16px;
}
.hr_footer_sm {
  width: 1px;
  height: 20px;
  background: #fff;
  border-width: 0;
}
.nav_footer_sm {
  width: 279px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.div_footer_sm {
  width: 331px;
}
.title_footer {
  color: var(--White, #fff);
  font-family: Segoe UI;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 37.5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.text_footer_link {
  color: var(--White, #fff);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}
.li_footer_link {
  margin: 6px 0;
}
.text_footer_news {
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 315px;
  margin-top: 11px;
  margin-bottom: 33px;
}
.input_email::placeholder {
  color: var(--gray-paragraph, #6c6c72);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.input_email {
  border-radius: 4px 0px 0px 4px;
  background: var(--White, #fff);
  border-style: none;
  padding: 13px 155px 13px 18px;
}
.img_send {
  background: #feb918;
  border-radius: 4px;
  padding: 8.5px 12px;
  margin-left: -2px;
}
.art_email {
  display: flex;
  align-items: center;
}
.div_footer {
  display: flex;
  justify-content: space-evenly;
}
.hr_footer {
  height: 1px;
  background-color: #fff;
  margin: 46px auto 0 auto;
  width: 72.5%;
}
.art_copyright {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  padding-bottom: 18px;
}
.art_copyright img {
  margin-right: 5px;
}
.art_copyright p {
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
